/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

@font-face {
  font-family: font-light;
  src: url("../Assets/fonts/MatterTRIAL-Light.otf");
}

@font-face {
  font-family: font-regular;
  src: url("../Assets/fonts/MatterTRIAL-Regular.otf");
}

@font-face {
  font-family: font-medium;
  src: url("../Assets/fonts/MatterTRIAL-Medium.otf");
}
@font-face {
  font-family: font-semibold;
  src: url("../Assets/fonts/MatterTRIAL-SemiBold.otf");
}
@font-face {
  font-family: font-gallery;
  src: url("../Assets/fonts/GalleryModern.otf");
}

::selection {
  background-color: black;
  color: white;
}

/* body styling */

:root {
  --background-primary-color: #000;
  --background-secondary-color: #fff;
  --background-third-color: #212124;
  --text-primary: #ffffff;
  --text-secondary: #818181;
  --text-dark: #000;
  --font-light: "font-light";
  --font-regular: "font-regular";
  --font-medium: "font-medium";
  --font-semibold: "font-semibold";
  --font-gallery: "font-gallery";
  --light: 14px;
  --regular: 16px;
  --medium: 32px;
  --xl: 42px;
  --xxl: 68px;
  --cross: 32px;
  --opacity: 90%;
}

body {
  background-color: var(--background-primary-color);
  font-family: "font-light";
  margin: 0;
}

#navbar {
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  z-index: 2;
}

nav .logo img {
  width: 68px;
  margin-left: 12px;
}

.menu-container {
  flex-grow: 1;
}

.menu-inside {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-right: 28px;
}

.sign button {
  background: none;
  padding: 8px;
  color: var(--text-primary);
  font-size: 18px;
  border: none;
  cursor: pointer;
  font-family: var(--font-regular);
  opacity: var(--opacity);
}

.open-menu button {
  background: none;
  padding: 8px;
  color: var(--text-primary);
  font-size: 18px;
  border: none;
  cursor: pointer;
  font-family: var(--font-regular);
  opacity: var(--opacity);
}

/* Sign In Modal Styling */
.hidden {
  display: none;
}

.signPop {
  display: none;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s;
}

.signPop .content {
  background-color: #080808;
  margin: auto;
  display: flex;
  width: 80%;
  max-width: 80%;
  border-radius: 16px;
}

.signPop .content .leftContent,
.rightContent {
  width: 100%;
  padding: 36px 32px;
}

.content .leftContent {
  background-color: #0b0b0b;
  border-radius: 16px 0 0 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftContent .textGreet {
  font-size: 18px;
}

.leftContent .description {
  font-size: 28px;
}

.leftContent .description p {
  font-size: 18px;
}

.leftContent .italic {
  font-family: "font-gallery";
}

.question .question-inner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.question-inner a {
  position: relative;
  color: #fff;
  font-size: 16px;
  font-family: "font-regular";
}

.content .rightContent {
  display: flex;
  flex-direction: column;
}

.rightContent .mark {
  font-family: "font-semibold";
  font-size: 24px;
  color: #fff;
}

.rightContent form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.rightContent .checker {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 24px 0;
}

.rightContent .checker label {
  font-size: 16px;
}

.rightContent label {
  font-size: 12px;
  color: var(--text-secondary);
}

.rightContent input {
  border: none;
  border-bottom: 1px solid #2a2929;
  background-color: transparent;
  padding: 8px 6px;
  transition: border-bottom-color 0.3s ease;
  font-size: 16px;
}

.rightContent input:focus {
  outline: none;
  color: #fff;
  border-bottom-color: #545151;
}

input.filled {
  outline: none;
  color: #fff;
  border-bottom-color: #545151;
}

select {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #2a2929; /* Gaya border yang sama dengan input lainnya */
  background-color: transparent;
  color: #fff; /* Tulisan putih */
  padding: 8px 6px; /* Padding yang sama dengan input lainnya */
  transition: border-bottom-color 0.3s ease;
  cursor: pointer; /* Pointer cursor */
}

select:focus {
  outline: none;
  color: #fff;
  border-bottom-color: #545151;
}

select.filled {
  outline: none;
  color: #fff;
  border-bottom-color: #545151;
}

option {
  font-size: 14px;
  padding: 4px;
  color: #fff;
  background-color: #121212;
}

form input[type="submit"] {
  background-color: #0b0b0b;
  color: #fff;
  padding: 18px 12px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}
form input[type="submit"]:hover {
  background-color: #121212;
}

.rightContent .reset {
  align-self: flex-end;
  margin: 16px 0;
}

.reset button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}

/* Fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*  */

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none; /* awalnya disembunyikan */
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: var(--background-secondary-color);
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav .closebtn {
  position: absolute;
  font-size: var(--cross);
  top: 16px;
  right: 25px;
  padding: 8px 16px;
  color: var(--text-dark);
  border-radius: 100%;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}
.sidenav .closebtn:hover {
  background-color: var(--background-primary-color);
  border-radius: 100%;
  color: var(--text-primary);
}

.menu-overlay {
  display: flex;
  margin-left: 42px;
}

.artType h6 {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: normal;
}

.artType li {
  list-style: none;
  margin-top: 16px;
}

.artType li a {
  text-decoration: none;
  font-size: 16px;
  color: var(--text-dark);
}

.nav-overlay {
  margin-left: 80px;
}

.nav-overlay h6 {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: normal;
}

.nav-overlay li {
  list-style: none;
  margin-top: 10px;
}

.nav-overlay li a {
  text-decoration: none;
  color: var(--text-dark);
  font-size: 52px;
  position: relative;
}

.nav-overlay li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--text-dark);
  transition: width 0.5s ease;
}

.nav-overlay li a:hover::after {
  width: 100%;
}

.info {
  margin-left: 82px;
  margin-top: 60px;
}

.info .text {
  color: var(--text-secondary);
  font-size: 16px;
}

.info button {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #818181;
  background-color: transparent;
  padding: 8px 0;
  transition: border-bottom-color 0.3s ease;
  cursor: pointer;
  font-family: "font-regular";
  opacity: var(--opacity);
}

.info button:hover {
  border-bottom-color: #000;
}

/* CONTENT  */
.parent {
  display: flex;
  gap: 8rem;
}

.titleSect {
  margin: 120px 24px;
}

.titleSect .title {
  color: var(--text-primary);
  font-size: var(--xl);
  font-family: "font-regular";
}

.list-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  width: 100%;
}

.list-wrap li {
  display: flex;
  justify-content: space-between;
  height: 45px;
}

.list-wrap .artist-name {
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  transition: color ease-in-out 0.3s;
  width: 100%;
  display: block;
}
.list-wrap .artist-name:hover {
  color: #fff;
}

.image-wrap {
  position: absolute;
  padding-top: 60px;
  top: 100px;
  right: 200px;
  height: 100vh;
}

#default-image {
  width: 350px;
  height: 450px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-in-out;
}

#default-image.fade-out {
  opacity: 0;
}

/* text-long */
.text-long {
  color: #fff;
  background-color: #212124;
  padding: 2px;
  text-align: center;
  font-size: 14px;
}
